USE [QLDoAnShopDienThoai]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 4/12/2024 7:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[idSanPham] [int] NOT NULL,
	[NoiDung] [nvarchar](255) NOT NULL,
 CONSTRAINT [pk_comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaiSanPham]    Script Date: 4/12/2024 7:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaiSanPham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTheLoai] [int] NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
 CONSTRAINT [pk_loaiSanPham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanPham]    Script Date: 4/12/2024 7:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanPham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTheLoai] [int] NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[donGia] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[Hinh] [varchar](255) NOT NULL,
	[NoiBat] [int] NOT NULL,
	[idLoaiSanPham] [int] NOT NULL,
 CONSTRAINT [pk_sanPham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slide]    Script Date: 4/12/2024 7:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slide](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
	[Hinh] [varchar](255) NOT NULL,
 CONSTRAINT [pk_slide] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theloai]    Script Date: 4/12/2024 7:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theloai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
 CONSTRAINT [pk_Theloai] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tinTuc]    Script Date: 4/12/2024 7:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tinTuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[TomTat] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[Hinh] [varchar](255) NOT NULL,
 CONSTRAINT [pk_tinTuc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/12/2024 7:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
 CONSTRAINT [pk_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([id], [idUser], [idSanPham], [NoiDung]) VALUES (1, 10, 1, N'Bài viết này được')
INSERT [dbo].[comment] ([id], [idUser], [idSanPham], [NoiDung]) VALUES (2, 8, 19, N'Hay quá trời')
INSERT [dbo].[comment] ([id], [idUser], [idSanPham], [NoiDung]) VALUES (3, 2, 21, N'Tôi rất thích bài viết này')
GO
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
SET IDENTITY_INSERT [dbo].[loaiSanPham] ON 

INSERT [dbo].[loaiSanPham] ([id], [idTheLoai], [Ten]) VALUES (1, 1, N'Iphone')
INSERT [dbo].[loaiSanPham] ([id], [idTheLoai], [Ten]) VALUES (2, 1, N'SamSung')
INSERT [dbo].[loaiSanPham] ([id], [idTheLoai], [Ten]) VALUES (3, 1, N'Oppo')
SET IDENTITY_INSERT [dbo].[loaiSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[sanPham] ON 

INSERT [dbo].[sanPham] ([id], [idTheLoai], [TieuDe], [donGia], [NoiDung], [Hinh], [NoiBat], [idLoaiSanPham]) VALUES (1, 1, N'Điện thoại iPhone 11 (64GB) - Chính hãng VN/A', 5690000, N'iPhone 11 - siêu phẩm được mong chờ nhất năm 2019 của Apple chuẩn bị ra mắt. Với những cải tiến vượt trội, phiên bản iPhone mới nhất hứa hẹn sẽ làm bùng nổ thị trường công nghệ.', N'iphone-11-black-2-up-vertical-us-en-screen-1.jpg', 1, 1)
INSERT [dbo].[sanPham] ([id], [idTheLoai], [TieuDe], [donGia], [NoiDung], [Hinh], [NoiBat], [idLoaiSanPham]) VALUES (2, 1, N'iPhone 12 64GB - Cũ Đẹp', 8090000, N'SP được thu lại từ khách bán lại - thu cũ, ngoại hình đẹp như máy mới. Máy có thể đã qua bảo hành hãng hoặc sửa chữa thay thế linh kiện để đảm bảo sự ổn định khi dùng.Có nguồn gốc rõ ràng, xuất bán đầy đủ hoá đơn eVAT.', N'iphone12-64g.jpg', 0, 1)
INSERT [dbo].[sanPham] ([id], [idTheLoai], [TieuDe], [donGia], [NoiDung], [Hinh], [NoiBat], [idLoaiSanPham]) VALUES (3, 1, N'Điện Thoại iPhone 13 Pro Max 128GB Alpine Green', 15090000, N'Thương hiệu: TecHland - Số 1 Điện Thoại iPhone, Máy Tính Apple, Loa Bluetooth Cao Cấp.Màu sắc: Alpine Green, Bộ nhớ trong: 128GB, Màn hình: 6.7″ Super Retina XDR OLED, Bảo mật: Face ID, Chống nước: Tiêu chuẩn IP68, Camera: 3 Ống ...', N'iphone-13-pro-max-green.jpg', 0, 1)
SET IDENTITY_INSERT [dbo].[sanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[slide] ON 

INSERT [dbo].[slide] ([id], [Ten], [Hinh]) VALUES (1, N'banner thế giới di động', N'banner-tgdd-800x300.jpg')
INSERT [dbo].[slide] ([id], [Ten], [Hinh]) VALUES (2, N'iphone 14 promax', N'sl-iphone-14-promax.jpg')
INSERT [dbo].[slide] ([id], [Ten], [Hinh]) VALUES (3, N'Huawei 10', N'thietkehaithanh-banner-1-1.jpg')
SET IDENTITY_INSERT [dbo].[slide] OFF
GO
SET IDENTITY_INSERT [dbo].[Theloai] ON 

INSERT [dbo].[Theloai] ([id], [Ten]) VALUES (1, N'Điện Thoại')
INSERT [dbo].[Theloai] ([id], [Ten]) VALUES (2, N'LapTop')
INSERT [dbo].[Theloai] ([id], [Ten]) VALUES (3, N'Tai Nghe')
SET IDENTITY_INSERT [dbo].[Theloai] OFF
GO
SET IDENTITY_INSERT [dbo].[tinTuc] ON 

SET IDENTITY_INSERT [dbo].[tinTuc] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [email], [password]) VALUES (0, N'Admin', N'Admin@gmail.com', N'123')
INSERT [dbo].[users] ([id], [name], [email], [password]) VALUES (1, N'Ngọc Hương', N'huongnguyen08.cv@gmail.com', N'1')
INSERT [dbo].[users] ([id], [name], [email], [password]) VALUES (2, N'Hương Hương', N'huongnguyen08@gmail.com', N'1')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164AF59E70C]    Script Date: 4/12/2024 7:19:19 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[sanPham] ADD  DEFAULT ((0)) FOR [NoiBat]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_idsanpham] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[sanPham] ([id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_idsanpham]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_idusers] FOREIGN KEY([idUser])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_idusers]
GO
ALTER TABLE [dbo].[loaiSanPham]  WITH CHECK ADD  CONSTRAINT [FK_loaisanpham_idtheloai] FOREIGN KEY([idTheLoai])
REFERENCES [dbo].[Theloai] ([id])
GO
ALTER TABLE [dbo].[loaiSanPham] CHECK CONSTRAINT [FK_loaisanpham_idtheloai]
GO
ALTER TABLE [dbo].[sanPham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_idloaisanpham] FOREIGN KEY([idLoaiSanPham])
REFERENCES [dbo].[loaiSanPham] ([id])
GO
ALTER TABLE [dbo].[sanPham] CHECK CONSTRAINT [FK_sanpham_idloaisanpham]
GO
ALTER TABLE [dbo].[sanPham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_idtheloai] FOREIGN KEY([idTheLoai])
REFERENCES [dbo].[Theloai] ([id])
GO
ALTER TABLE [dbo].[sanPham] CHECK CONSTRAINT [FK_sanpham_idtheloai]
GO
