<div class="container mt-3">
    <h4>Order result</h4>
    <div class="alert alert-info">
        Bạn đã đặt hàng thành công! Cảm ơn vì đã mua sắm tại cửa hàng.
        <a href="/customer/Home/Index">tiếp tục mua</a>
    </div>
</div>